{% extends 'invoice/base.html' %}
{% block 'body' %}
{% load widget_tweaks %}
{% load invoice_filters %}
<div class="container mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Invoice Date</th>
        <th scope="col">Invoice number</th>
        <th scope="col">Client</th>
        <th scope="col">Date</th>
        <th scope="col">Amount due</th>
        <th scope="col">Amount paid</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in object_list %}
      <tr>
        <td>{{ invoice.date }}</td>
        <td>{{ invoice.number }}</td>
        <td>{{ invoice.client }}</td>
        <td>{{ invoice.date }}</td>
        <td>{{ invoice.vat|div:"100"|mult:invoice.amountDue|add:invoice.amountDue }}</td>
        <td>{{invoice.amountPaid}}</td>
        <td>
            <form class="form-inline" action="{% url 'delete_invoice' invoice.id %}" method="post">
              {% csrf_token %}
              <a href="{% url 'update_invoice' invoice.id %}">
                <button type="button" class="btn btn-primary m-1">Update</button>
              </a>
              <button type="submit" class="btn btn-danger m-1">Delete</button>
            </form>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
