{% extends 'invoice/base.html' %}
{% block 'body' %}
{% load widget_tweaks %}

<div class="container mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for product in object_list %}
      <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
            <form class="form-inline" action="{% url 'delete_product' product.id %}" method="post">
              {% csrf_token %}
              <a href="{% url 'update_product' product.id %}">
                <button type="button" class="btn btn-primary m-1">Update</button>
              </a>
              <button type="submit" class="btn btn-danger m-1">Delete</button>
            </form>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
